.input-container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  font-family: sans-serif;
}

@media (min-width: 768px) {
  .input-container {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .input-container {
    width: 33.333333%;
  }
}

.label {
  display: block;
  font-size: 0.9rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: rgb(17 24 39);
  margin-bottom: 5px;
}
.root-input {
  appearance: none;
  background-color: white;
  border-radius: 0.5rem;
  border-width: 1px;
  padding: 12px 16px;
  width: 100%;
  color: #18181b;
  border: none;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: border-color cubic-bezier(0.4, 0, 0.2, 1) 300ms;
  border: 1px solid rgb(224 224 224);
}

.root-input:focus {
  outline: "2px solid transparent";
  box-shadow: 0 0 0 0px #fff0 0 0 1px #2563eb, 0 0 #000;
}

.root-input:active,
.root-input:focus {
  outline-color: rgb(48 86 211);
  outline-width: 2px;
}

.root-input:disabled {
  cursor: not-allowed;
  background: #f5f7fd;
}

.with-left-icon {
  padding-left: 3rem;
}

.leftIcon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: rgb(99 115 129);
}

.rightIcon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: rgb(99 115 129);
}

.leftIcon,
.rightIcon {
  display: flex;
  align-items: center;
}

.password-eye {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.password-eye:hover {
  background-color: #f3f4f6;
}
.errorInput {
  /* border: 1px solid #ef4444; */
  outline: 1px solid #ef4444;
  color: #7f1d1d;
}
.errorInput:focus {
  /* border-color: #ef4444; */
  outline-color: #ef4444;
}

.errorMessage {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-top: 5px;
  color: rgb(220 53 69);
}
