.table-container {
  border-radius: 9999px;
  border-width: 0;
  outline-width: 0px;
}
.table {
  border-radius: 9999px;
}
.table-header {
  background-color: #f7f7f7;
}
.table-header:hover {
  background-color: #e5e7eb;
}
.table-row {
  color: #4c4c4c;
}
.table-row-body {
  color: #808080;
}
.table-row-body:hover {
  background-color: #f3f4f6;
}
.table-cell {
  height: 6rem;
  text-align: center;
}
